IF DB_ID('TextControl') IS NOT NULL
BEGIN
    ALTER DATABASE [TextControl] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [TextControl];
END
USE [master];
GO
/****** Object:  Database [TextControl]    Script Portable ******/
IF DB_ID('TextControl') IS NOT NULL
BEGIN
    ALTER DATABASE [TextControl] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [TextControl];
END
GO

CREATE DATABASE [TextControl];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TextControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TextControl]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Cliente] [varchar](50) NOT NULL,
	[Contacto_Cliente] [nchar](50) NOT NULL,
	[Email_Cliente] [varchar](100) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[ID_pedido] [int] IDENTITY(1,1) NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
	[FechaEntrega_pedido] [datetime] NULL,
	[Estado_pedido] [int] NOT NULL,
	[PrecioTotal_pedido] [float] NOT NULL,
	[SaldoPendiente_pedido] [float] NOT NULL,
	[pagoAdelanto_pedido] [bit] NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[ID_Empleado] [int] NULL,
	[ID_Prioridad] [int] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[ID_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID_Empleado] [int] NOT NULL,
	[Nombre_Empleado] [varchar](50) NOT NULL,
	[Apellido_Empleado] [varchar](50) NOT NULL,
	[DNI_Empleado] [varchar](50) NOT NULL,
	[Gmail_Empleado] [varchar](100) NOT NULL,
	[Contacto_Empleado] [nchar](50) NOT NULL,
	[ID_Rol] [int] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago_Adelantado]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago_Adelantado](
	[ID_pagoAdelantado] [int] IDENTITY(1,1) NOT NULL,
	[monto_pagoAdelantado] [float] NOT NULL,
	[fecha_pagoAdelantado] [date] NOT NULL,
	[ID_Pedido] [int] NOT NULL,
 CONSTRAINT [PK_Pago_Adelantado] PRIMARY KEY CLUSTERED 
(
	[ID_pagoAdelantado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Pedido]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Pedido](
	[ID_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pedido] [int] NOT NULL,
	[ID_Tela] [int] NOT NULL,
	[Color_Detalle] [varchar](100) NOT NULL,
	[Talle_Detalle] [varchar](50) NOT NULL,
	[Cantidad_Detalle] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zapato]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zapato](
	[ID_Zapato] [int] IDENTITY(1,1) NOT NULL,
	[ID_Detalle] [int] NOT NULL,
	[Modelo] [varchar](100) NOT NULL,
	[Talle] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Zapato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personalizacion]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personalizacion](
	[ID_Personalizacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Detalle] [int] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Diseno] [varchar](255) NULL,
	[Tamano] [varchar](50) NULL,
	[Posicion] [char](10) NULL,
	[PrecioUnitario] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Personalizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Tela]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Tela](
	[ID_Tela] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Tela] [varchar](100) NOT NULL,
	[Cantidad_Tela] [int] NOT NULL,
	[Color_Tela] [varchar](50) NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_PedidosCompleto]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_PedidosCompleto]
AS
SELECT dbo.Pedidos.ID_pedido, dbo.Pedidos.FechaPedido, dbo.Pedidos.FechaEntrega_pedido, dbo.Pedidos.Estado_pedido, dbo.Pedidos.SaldoPendiente_pedido, dbo.Cliente.ID_Cliente, dbo.Cliente.Nombre_Cliente, dbo.Cliente.Contacto_Cliente, 
                  dbo.Cliente.Email_Cliente, dbo.Empleado.ID_Empleado, dbo.Empleado.Nombre_Empleado, dbo.Empleado.Apellido_Empleado, dbo.Empleado.Contacto_Empleado, 
                  ISNULL(SUM(dbo.Detalle_Pedido.Cantidad_Detalle * dbo.Detalle_Pedido.PrecioUnitario + ISNULL(dbo.Zapato.Cantidad, 0) * ISNULL(dbo.Zapato.PrecioUnitario, 0) + ISNULL(dbo.Personalizacion.PrecioUnitario, 0)), 0) 
                  AS PrecioTotalCalculado, SUM(ISNULL(dbo.Pago_Adelantado.monto_pagoAdelantado, 0)) AS TotalPagosAdelantados, dbo.Personalizacion.Tipo, dbo.Personalizacion.Diseno, dbo.Personalizacion.Tamano, dbo.Personalizacion.Posicion, 
                  dbo.Zapato.Modelo, dbo.Zapato.Talle, dbo.Zapato.Color, dbo.Zapato.Cantidad, dbo.Tipo_Tela.Nombre_Tela, dbo.Tipo_Tela.Color_Tela, dbo.Tipo_Tela.PrecioUnitario, dbo.Detalle_Pedido.Cantidad_Detalle, 
                  dbo.Detalle_Pedido.PrecioUnitario AS Expr1, dbo.Detalle_Pedido.Color_Detalle, dbo.Detalle_Pedido.Talle_Detalle, dbo.Pago_Adelantado.monto_pagoAdelantado
FROM     dbo.Pedidos INNER JOIN
                  dbo.Cliente ON dbo.Pedidos.ID_Cliente = dbo.Cliente.ID_Cliente LEFT OUTER JOIN
                  dbo.Empleado ON dbo.Pedidos.ID_Empleado = dbo.Empleado.ID_Empleado INNER JOIN
                  dbo.Detalle_Pedido ON dbo.Pedidos.ID_pedido = dbo.Detalle_Pedido.ID_Pedido INNER JOIN
                  dbo.Tipo_Tela ON dbo.Detalle_Pedido.ID_Tela = dbo.Tipo_Tela.ID_Tela LEFT OUTER JOIN
                  dbo.Personalizacion ON dbo.Detalle_Pedido.ID_Detalle = dbo.Personalizacion.ID_Detalle LEFT OUTER JOIN
                  dbo.Zapato ON dbo.Detalle_Pedido.ID_Detalle = dbo.Zapato.ID_Detalle LEFT OUTER JOIN
                  dbo.Pago_Adelantado ON dbo.Pedidos.ID_pedido = dbo.Pago_Adelantado.ID_Pedido
GROUP BY dbo.Pedidos.ID_pedido, dbo.Pedidos.FechaPedido, dbo.Pedidos.FechaEntrega_pedido, dbo.Pedidos.Estado_pedido, dbo.Pedidos.SaldoPendiente_pedido, dbo.Cliente.ID_Cliente, dbo.Cliente.Nombre_Cliente, 
                  dbo.Cliente.Contacto_Cliente, dbo.Cliente.Email_Cliente, dbo.Empleado.ID_Empleado, dbo.Empleado.Nombre_Empleado, dbo.Empleado.Apellido_Empleado, dbo.Empleado.Contacto_Empleado, dbo.Personalizacion.Tipo, 
                  dbo.Personalizacion.Diseno, dbo.Personalizacion.Tamano, dbo.Personalizacion.Posicion, dbo.Zapato.Modelo, dbo.Zapato.Talle, dbo.Zapato.Color, dbo.Zapato.Cantidad, dbo.Tipo_Tela.Nombre_Tela, dbo.Tipo_Tela.Color_Tela, 
                  dbo.Tipo_Tela.PrecioUnitario, dbo.Detalle_Pedido.Cantidad_Detalle, dbo.Detalle_Pedido.PrecioUnitario, dbo.Detalle_Pedido.Color_Detalle, dbo.Detalle_Pedido.Talle_Detalle, dbo.Pago_Adelantado.monto_pagoAdelantado
GO
/****** Object:  Table [dbo].[Insumo]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo](
	[ID_Insumo] [int] IDENTITY(1,1) NOT NULL,
	[ID_TipoInsumo] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Color] [varchar](50) NULL,
	[Diseno] [varchar](100) NULL,
	[CantidadPorUnidad] [float] NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
 CONSTRAINT [PK_Insumo] PRIMARY KEY CLUSTERED 
(
	[ID_Insumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento_Stock]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento_Stock](
	[ID_Movimiento] [int] IDENTITY(1,1) NOT NULL,
	[ID_TipoMovimiento] [int] NOT NULL,
	[ID_Insumo] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ID_Pedido] [int] NULL,
 CONSTRAINT [PK_Movimiento_Stock] PRIMARY KEY CLUSTERED 
(
	[ID_Movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion_Stock]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion_Stock](
	[ID_Notificacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Prioridad] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ID_Insumo] [int] NOT NULL,
 CONSTRAINT [PK_Notificacion_Stock] PRIMARY KEY CLUSTERED 
(
	[ID_Notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prioridad]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridad](
	[ID_Prioridad] [int] IDENTITY(1,1) NOT NULL,
	[Prioridad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Prioridad] PRIMARY KEY CLUSTERED 
(
	[ID_Prioridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Empleado]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Empleado](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rol_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Insumo]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Insumo](
	[ID_TipoInsumo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_Insumo] PRIMARY KEY CLUSTERED 
(
	[ID_TipoInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Movimiento]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Movimiento](
	[ID_TipoMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_Movimiento] PRIMARY KEY CLUSTERED 
(
	[ID_TipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/09/2025 17:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[UserName_Usuario] [varchar](50) NOT NULL,
	[Password_Usuario] [varchar](50) NOT NULL,
	[EmailRecuperacion_Usuario] [varchar](100) NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[RecoveryToken] [nvarchar](200) NULL,
	[RecoveryTokenExpiry] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID_Cliente], [Nombre_Cliente], [Contacto_Cliente], [Email_Cliente]) VALUES (1, N'Carlos López', N'333-333                                           ', N'carlos.lopez@gmail.com')
INSERT [dbo].[Cliente] ([ID_Cliente], [Nombre_Cliente], [Contacto_Cliente], [Email_Cliente]) VALUES (2, N'María Fernández', N'444-444                                           ', N'maria.fernandez@gmail.com')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Pedido] ON 

INSERT [dbo].[Detalle_Pedido] ([ID_Detalle], [ID_Pedido], [ID_Tela], [Color_Detalle], [Talle_Detalle], [Cantidad_Detalle], [PrecioUnitario]) VALUES (1, 1, 1, N'Blanco', N'M', 10, 1500)
INSERT [dbo].[Detalle_Pedido] ([ID_Detalle], [ID_Pedido], [ID_Tela], [Color_Detalle], [Talle_Detalle], [Cantidad_Detalle], [PrecioUnitario]) VALUES (2, 1, 2, N'Negro', N'L', 5, 2500)
INSERT [dbo].[Detalle_Pedido] ([ID_Detalle], [ID_Pedido], [ID_Tela], [Color_Detalle], [Talle_Detalle], [Cantidad_Detalle], [PrecioUnitario]) VALUES (3, 2, 1, N'Blanco', N'S', 8, 1500)
SET IDENTITY_INSERT [dbo].[Detalle_Pedido] OFF
GO
INSERT [dbo].[Empleado] ([ID_Empleado], [Nombre_Empleado], [Apellido_Empleado], [DNI_Empleado], [Gmail_Empleado], [Contacto_Empleado], [ID_Rol]) VALUES (1, N'Tobias', N'Jasson', N'30111222', N'tobiasjasson@gmail.com', N'111-111                                           ', 1)
INSERT [dbo].[Empleado] ([ID_Empleado], [Nombre_Empleado], [Apellido_Empleado], [DNI_Empleado], [Gmail_Empleado], [Contacto_Empleado], [ID_Rol]) VALUES (2, N'Ana', N'García', N'30111333', N'ana.garcia@textcontrol.com', N'222-222                                           ', 2)
GO
SET IDENTITY_INSERT [dbo].[Insumo] ON 

INSERT [dbo].[Insumo] ([ID_Insumo], [ID_TipoInsumo], [Nombre], [Color], [Diseno], [CantidadPorUnidad], [StockActual], [StockMinimo]) VALUES (1, 1, N'Botón metálico', N'Plateado', NULL, 100, 1000, 100)
INSERT [dbo].[Insumo] ([ID_Insumo], [ID_TipoInsumo], [Nombre], [Color], [Diseno], [CantidadPorUnidad], [StockActual], [StockMinimo]) VALUES (2, 2, N'Hilo algodón', N'Blanco', NULL, 200, 500, 50)
SET IDENTITY_INSERT [dbo].[Insumo] OFF
GO
SET IDENTITY_INSERT [dbo].[Movimiento_Stock] ON 

INSERT [dbo].[Movimiento_Stock] ([ID_Movimiento], [ID_TipoMovimiento], [ID_Insumo], [Cantidad], [Fecha], [ID_Pedido]) VALUES (1, 2, 1, 50, CAST(N'2025-09-06T18:29:04.830' AS DateTime), 1)
INSERT [dbo].[Movimiento_Stock] ([ID_Movimiento], [ID_TipoMovimiento], [ID_Insumo], [Cantidad], [Fecha], [ID_Pedido]) VALUES (2, 2, 2, 100, CAST(N'2025-09-06T18:29:04.830' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Movimiento_Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago_Adelantado] ON 

INSERT [dbo].[Pago_Adelantado] ([ID_pagoAdelantado], [monto_pagoAdelantado], [fecha_pagoAdelantado], [ID_Pedido]) VALUES (1, 10000, CAST(N'2025-09-06' AS Date), 1)
INSERT [dbo].[Pago_Adelantado] ([ID_pagoAdelantado], [monto_pagoAdelantado], [fecha_pagoAdelantado], [ID_Pedido]) VALUES (2, 5000, CAST(N'2025-09-06' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Pago_Adelantado] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([ID_pedido], [FechaPedido], [FechaEntrega_pedido], [Estado_pedido], [PrecioTotal_pedido], [SaldoPendiente_pedido], [pagoAdelanto_pedido], [ID_Cliente], [ID_Empleado], [ID_Prioridad]) VALUES (1, CAST(N'2025-09-06T18:29:04.827' AS DateTime), CAST(N'2025-09-21T18:29:04.827' AS DateTime), 1, 0, 0, 0, 1, 1, 1)
INSERT [dbo].[Pedidos] ([ID_pedido], [FechaPedido], [FechaEntrega_pedido], [Estado_pedido], [PrecioTotal_pedido], [SaldoPendiente_pedido], [pagoAdelanto_pedido], [ID_Cliente], [ID_Empleado], [ID_Prioridad]) VALUES (2, CAST(N'2025-09-06T18:29:04.827' AS DateTime), CAST(N'2025-09-26T18:29:04.827' AS DateTime), 1, 0, 0, 0, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Personalizacion] ON 

INSERT [dbo].[Personalizacion] ([ID_Personalizacion], [ID_Detalle], [Tipo], [Diseno], [Tamano], [Posicion], [PrecioUnitario]) VALUES (1, 1, N'Estampado', N'Logo Empresa', N'10x10', N'Frente    ', 500)
INSERT [dbo].[Personalizacion] ([ID_Personalizacion], [ID_Detalle], [Tipo], [Diseno], [Tamano], [Posicion], [PrecioUnitario]) VALUES (2, 2, N'Bordado', N'Iniciales', N'5x5', N'Espalda   ', 700)
SET IDENTITY_INSERT [dbo].[Personalizacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Prioridad] ON 

INSERT [dbo].[Prioridad] ([ID_Prioridad], [Prioridad]) VALUES (1, N'Alta')
INSERT [dbo].[Prioridad] ([ID_Prioridad], [Prioridad]) VALUES (2, N'Media')
SET IDENTITY_INSERT [dbo].[Prioridad] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol_Empleado] ON 

INSERT [dbo].[Rol_Empleado] ([ID_Rol], [Nombre_Rol]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol_Empleado] ([ID_Rol], [Nombre_Rol]) VALUES (2, N'Empleado')
SET IDENTITY_INSERT [dbo].[Rol_Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Insumo] ON 

INSERT [dbo].[Tipo_Insumo] ([ID_TipoInsumo], [Descripcion]) VALUES (1, N'Botón')
INSERT [dbo].[Tipo_Insumo] ([ID_TipoInsumo], [Descripcion]) VALUES (2, N'Hilo')
SET IDENTITY_INSERT [dbo].[Tipo_Insumo] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Movimiento] ON 

INSERT [dbo].[Tipo_Movimiento] ([ID_TipoMovimiento], [Descripcion]) VALUES (1, N'Entrada')
INSERT [dbo].[Tipo_Movimiento] ([ID_TipoMovimiento], [Descripcion]) VALUES (2, N'Salida')
SET IDENTITY_INSERT [dbo].[Tipo_Movimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Tela] ON 

INSERT [dbo].[Tipo_Tela] ([ID_Tela], [Nombre_Tela], [Cantidad_Tela], [Color_Tela], [PrecioUnitario]) VALUES (1, N'Algodón Premium', 100, N'Blanco', 1500)
INSERT [dbo].[Tipo_Tela] ([ID_Tela], [Nombre_Tela], [Cantidad_Tela], [Color_Tela], [PrecioUnitario]) VALUES (2, N'Cuero Sintético', 50, N'Negro', 2500)
SET IDENTITY_INSERT [dbo].[Tipo_Tela] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_Usuario], [UserName_Usuario], [Password_Usuario], [EmailRecuperacion_Usuario], [ID_Empleado], [RecoveryToken], [RecoveryTokenExpiry]) VALUES (1, N'Tobias', N'TUljbGF2ZTc3', N'tobiasjasson@gmail.com', 1, NULL, NULL)
INSERT [dbo].[Usuario] ([ID_Usuario], [UserName_Usuario], [Password_Usuario], [EmailRecuperacion_Usuario], [ID_Empleado], [RecoveryToken], [RecoveryTokenExpiry]) VALUES (2, N'Jasson', N'TUljbGF2ZTk5', N'tobiasjasson@gmail.com', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Zapato] ON 

INSERT [dbo].[Zapato] ([ID_Zapato], [ID_Detalle], [Modelo], [Talle], [Color], [Cantidad], [PrecioUnitario]) VALUES (1, 1, N'Zapatilla Deportiva', N'42', N'Negro', 2, 8000)
INSERT [dbo].[Zapato] ([ID_Zapato], [ID_Detalle], [Modelo], [Talle], [Color], [Cantidad], [PrecioUnitario]) VALUES (2, 3, N'Sandalia Verano', N'38', N'Blanco', 1, 6000)
SET IDENTITY_INSERT [dbo].[Zapato] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cliente]    Script Date: 25/09/2025 17:32:07 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [IX_Cliente] UNIQUE NONCLUSTERED 
(
	[Contacto_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Empleado]    Script Date: 25/09/2025 17:32:07 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [IX_Empleado] UNIQUE NONCLUSTERED 
(
	[Contacto_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario]    Script Date: 25/09/2025 17:32:07 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [IX_Usuario] UNIQUE NONCLUSTERED 
(
	[Password_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detalle_Pedido] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Movimiento_Stock] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Notificacion_Stock] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Pedidos] ADD  CONSTRAINT [DF_Pedidos_pagoAdelanto_pedido]  DEFAULT ((0)) FOR [pagoAdelanto_pedido]
GO
ALTER TABLE [dbo].[Personalizacion] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[Tipo_Tela] ADD  CONSTRAINT [DF_Tipo_Tela_PrecioUnitario]  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[Zapato] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[Detalle_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Pedido_Pedido] FOREIGN KEY([ID_Pedido])
REFERENCES [dbo].[Pedidos] ([ID_pedido])
GO
ALTER TABLE [dbo].[Detalle_Pedido] CHECK CONSTRAINT [FK_Detalle_Pedido_Pedido]
GO
ALTER TABLE [dbo].[Detalle_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Pedido_Tela] FOREIGN KEY([ID_Tela])
REFERENCES [dbo].[Tipo_Tela] ([ID_Tela])
GO
ALTER TABLE [dbo].[Detalle_Pedido] CHECK CONSTRAINT [FK_Detalle_Pedido_Tela]
GO
ALTER TABLE [dbo].[Insumo]  WITH CHECK ADD  CONSTRAINT [FK_Insumo_TipoInsumo] FOREIGN KEY([ID_TipoInsumo])
REFERENCES [dbo].[Tipo_Insumo] ([ID_TipoInsumo])
GO
ALTER TABLE [dbo].[Insumo] CHECK CONSTRAINT [FK_Insumo_TipoInsumo]
GO
ALTER TABLE [dbo].[Movimiento_Stock]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoStock_Insumo] FOREIGN KEY([ID_Insumo])
REFERENCES [dbo].[Insumo] ([ID_Insumo])
GO
ALTER TABLE [dbo].[Movimiento_Stock] CHECK CONSTRAINT [FK_MovimientoStock_Insumo]
GO
ALTER TABLE [dbo].[Movimiento_Stock]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoStock_Pedido] FOREIGN KEY([ID_Pedido])
REFERENCES [dbo].[Pedidos] ([ID_pedido])
GO
ALTER TABLE [dbo].[Movimiento_Stock] CHECK CONSTRAINT [FK_MovimientoStock_Pedido]
GO
ALTER TABLE [dbo].[Movimiento_Stock]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoStock_Tipo] FOREIGN KEY([ID_TipoMovimiento])
REFERENCES [dbo].[Tipo_Movimiento] ([ID_TipoMovimiento])
GO
ALTER TABLE [dbo].[Movimiento_Stock] CHECK CONSTRAINT [FK_MovimientoStock_Tipo]
GO
ALTER TABLE [dbo].[Notificacion_Stock]  WITH CHECK ADD  CONSTRAINT [FK_NotificacionStock_Insumo] FOREIGN KEY([ID_Insumo])
REFERENCES [dbo].[Insumo] ([ID_Insumo])
GO
ALTER TABLE [dbo].[Notificacion_Stock] CHECK CONSTRAINT [FK_NotificacionStock_Insumo]
GO
ALTER TABLE [dbo].[Pago_Adelantado]  WITH CHECK ADD  CONSTRAINT [FK_PagoAdelantado_Pedido] FOREIGN KEY([ID_Pedido])
REFERENCES [dbo].[Pedidos] ([ID_pedido])
GO
ALTER TABLE [dbo].[Pago_Adelantado] CHECK CONSTRAINT [FK_PagoAdelantado_Pedido]
GO
ALTER TABLE [dbo].[Personalizacion]  WITH CHECK ADD  CONSTRAINT [FK_Personalizacion_Detalle] FOREIGN KEY([ID_Detalle])
REFERENCES [dbo].[Detalle_Pedido] ([ID_Detalle])
GO
ALTER TABLE [dbo].[Personalizacion] CHECK CONSTRAINT [FK_Personalizacion_Detalle]
GO
ALTER TABLE [dbo].[Zapato]  WITH CHECK ADD  CONSTRAINT [FK_Zapato_Detalle] FOREIGN KEY([ID_Detalle])
REFERENCES [dbo].[Detalle_Pedido] ([ID_Detalle])
GO
ALTER TABLE [dbo].[Zapato] CHECK CONSTRAINT [FK_Zapato_Detalle]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contacto_Cliente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cliente', @level2type=N'CONSTRAINT',@level2name=N'IX_Cliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Numero de contacto empleado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empleado', @level2type=N'CONSTRAINT',@level2name=N'IX_Empleado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[65] 4[3] 3[24] 2) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Pedidos"
            Begin Extent = 
               Top = 627
               Left = 19
               Bottom = 948
               Right = 288
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Cliente"
            Begin Extent = 
               Top = 794
               Left = 380
               Bottom = 984
               Right = 603
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Empleado"
            Begin Extent = 
               Top = 1069
               Left = 386
               Bottom = 1307
               Right = 631
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Detalle_Pedido"
            Begin Extent = 
               Top = 675
               Left = 671
               Bottom = 918
               Right = 896
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Tipo_Tela"
            Begin Extent = 
               Top = 823
               Left = 1239
               Bottom = 1011
               Right = 1449
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Personalizacion"
            Begin Extent = 
               Top = 559
               Left = 1058
               Bottom = 796
               Right = 1293
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Zapato"
            Begin Extent = 
               Top = 867
               Left = 954
               Bottom = 1116
               Right = 1164
            End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_PedidosCompleto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Pago_Adelantado"
            Begin Extent = 
               Top = 392
               Left = 302
               Bottom = 555
               Right = 576
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 33
         Width = 284
         Width = 1080
         Width = 2052
         Width = 2052
         Width = 1368
         Width = 2064
         Width = 1032
         Width = 1464
         Width = 1668
         Width = 2412
         Width = 1248
         Width = 1728
         Width = 1752
         Width = 1800
         Width = 1860
         Width = 2052
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1668
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1548
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 2136
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_PedidosCompleto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_PedidosCompleto'
GO
USE [master]
GO
